<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  
  <dataConfiguration defaultDatabase="cnx"/>
  
	<connectionStrings>
		<!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
   
    <add name="ApplicationServices" connectionString="Data Source=(local);Initial Catalog=User;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="cnx" connectionString="Data Source=(local);Initial Catalog=CSCInventariosDB;Integrated Security=True " providerName="System.Data.SqlClient"/>

  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="CSCInventarios.DAL"/>
    <assembly name="CSCInventarios.BL"/>
    <namespace name="CSCInventarios.DAL"/>
    <namespace name="CSCInventarios.BL"/>
    <container>
      <!--Start DataAccess-->
      <register type="IDetalleRequerimientoDAL" mapTo="DetalleRequerimientoDAL"/>
      <register type="IDetalleSolicitudDAL" mapTo="DetalleSolicitudDAL"/>
      <register type="IEstacionDAL" mapTo="EstacionDAL"/>
      <register type="IMaterialDAL" mapTo="MaterialDAL"/>
      <register type="IRequerimientoDAL" mapTo="RequerimientoDAL"/>
      <register type="ISolicitudDAL" mapTo="SolicitudDAL"/>
      <register type="IUsuarioDAL" mapTo="UsuarioDAL"/>
      <!--End DataAccess-->
      <!--Start BusinessLogic-->
      <register type="IEstacionBL" mapTo="EstacionBL"/>
      <register type="IMaterialBL" mapTo="MaterialBL"/>
      <register type="IRequerimientoBL" mapTo="RequerimientoBL"/>
      <register type="ISolicitudBL" mapTo="SolicitudBL"/>
      <register type="IUsuarioBL" mapTo="UsuarioBL"/>
      <!--End BusinessLogic-->
    </container>
  </unity>
  
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		
    <authentication mode="Forms">      
			<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
		</authentication>
		
    <membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<pages>
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
			</controls>
		</pages></system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>
